$zs-blue-dark: var(--zs-blue-dark, #132639);

$zs-green: var(--zs-green, #2ED2BA);
$zs-green-saturated: var(--zs-green-saturated, #20EBCD);

$zs-red: var(--zs-red, #FF1E1E);

$zs-black: var(--zs-black, #000000);
$zs-gray: var(--zs-gray, #999999);
$zs-gray-button: var(--zs-gray-button, #F2F1F3);
$zs-white: var(--zs-white, #FFFFFF);

$zs-hovered: var(--zs-hovered, rgba(0, 0, 0, 0.05));
$zs-pressed: var(--zs-pressed, rgba(0, 0, 0, 0.10));